$green: #00B745;
$blue: #008DC8;
$white: #FFFFFF;


.auth-main{
    .auth-main__wrapper{
        max-width: 1280px;
        margin: 0 auto;
        
        .heading-container{
            padding: 0 2em ;
            display: grid;
            grid-template-columns: repeat(12,1fr);
            align-items: center;
            .back-link{
                grid-column: 1;
                justify-self: start;
                text-decoration: none;
            }
            .title{
                grid-column: 2/12;
                padding: 1em 0;
            }
        }

        .auth-content{
            padding: 2em 2em 3em;
            display: flex;
            flex-direction: row;   
            justify-content: space-between; 
            .keyboard{
                width: 60%;
                display: flex;
                flex-wrap: wrap;
                gap: 1.5em 1.3em;
            }
            .pin-container{
                position: relative;
                .pin-screen{
                    border: 4px solid $blue;
                    border-radius: 50px;    
                    opacity: 1;
                    padding: 0 4.2em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 4.2em;
                    width: 18em;
                }
                .continue-button{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
        
            
    }
}
