$green: #00B745;
$blue: #008DC8;
$white: #FFFFFF;
$middle-gray: #505050;

.schedule-main{
    .schedule-main__wrapper{
        max-width: 1280px;
        margin: 0 auto;
        
        .heading-container{
            padding: 0 2em ;
            display: grid;
            grid-template-columns: repeat(12,1fr);
            align-items: center;
            .back-link{
                grid-column: 1;
                justify-self: start;
                text-decoration: none;
            }
            .title{
                grid-column: 2/12;
                padding: 1em 0;
            }
        }
        
        .schedule-container{
            padding: 0 2em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 50em;
            margin: 0 auto;
        }
        
    }
}