/* poppins-100 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("/assets/fonts/poppins-v15-latin-100.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/assets/fonts/poppins-v15-latin-100.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/poppins-v15-latin-100.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/poppins-v15-latin-100.woff")
      format("woff"),
    /* Modern Browsers */ url("/assets/fonts/poppins-v15-latin-100.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/poppins-v15-latin-100.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-300 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/poppins-v15-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/assets/fonts/poppins-v15-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/poppins-v15-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/poppins-v15-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("/assets/fonts/poppins-v15-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/poppins-v15-latin-300.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/poppins-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/assets/fonts/poppins-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/poppins-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/assets/fonts/poppins-v15-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/poppins-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/poppins-v15-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/poppins-v15-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/assets/fonts/poppins-v15-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/poppins-v15-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/poppins-v15-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("/assets/fonts/poppins-v15-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/poppins-v15-latin-500.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/poppins-v15-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/assets/fonts/poppins-v15-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/poppins-v15-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/poppins-v15-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("/assets/fonts/poppins-v15-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/poppins-v15-latin-600.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/poppins-v15-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/assets/fonts/poppins-v15-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/poppins-v15-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/poppins-v15-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("/assets/fonts/poppins-v15-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/poppins-v15-latin-700.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/poppins-v15-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/assets/fonts/poppins-v15-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/poppins-v15-latin-800.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/poppins-v15-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("/assets/fonts/poppins-v15-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/poppins-v15-latin-800.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-900 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/poppins-v15-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/assets/fonts/poppins-v15-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/poppins-v15-latin-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/poppins-v15-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("/assets/fonts/poppins-v15-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/poppins-v15-latin-900.svg#Poppins") format("svg"); /* Legacy iOS */
}

$heading1: normal normal 900 4.6rem/6.2rem Poppins;
$heading2: normal normal 400 2.3rem/3rem Poppins;
$button: normal normal 400 2.5rem/3.3rem Poppins;
$button2: normal normal 400 2rem/2.8rem Poppins;
$button3: normal normal 400 1.04rem/1.375rem Poppins;
$body1: normal normal normal 1.87rem/2.5rem Poppins;
$body2: normal normal 500 1.46rem/1.96rem Poppins;
$body3: normal normal bold 1.6rem/2.7rem Poppins;
$pin-font: normal normal 400 2.9rem/3.9rem Poppins;
$sport-font1: normal normal normal 1.7rem/2.2rem Poppins;
$sport-font2: normal normal bold 1.5rem/1.9rem Poppins;
$sport-font3: normal normal normal 1.2rem/1.6rem Poppins;
$sport-font4: normal normal bold 1.1rem/1.45rem Poppins;

$white: #ffffff;
$middle-gray: #505050;
$green: #00b745;
$blue: #008dc8;

.heading1 {
  font: $heading1;
  text-transform: uppercase;
  color: $white;
  text-shadow: 5px 5px 20px #000000b3;
  opacity: 1;
  letter-spacing: 0px;
}

.heading2 {
  font: $heading2;
  text-align: center;
  letter-spacing: 0px;
  color: $middle-gray;
  opacity: 1;
  padding: 1em;
}

.button-font {
  font: $button;
}

.button2-font {
  font: $button2;
}

.button3-font {
  font: $button3;
}

.body1 {
  font: $body1;
  letter-spacing: 0px;
  color: $middle-gray;
  opacity: 1;
}

.body2 {
  font: $body2;
  letter-spacing: 0px;
  color: $middle-gray;
  opacity: 1;
}
.body3 {
  font: $body3;
  letter-spacing: 0px;
  color: $blue;
  opacity: 1;
}
.pin-font {
  text-align: center;
  font: $pin-font;
  letter-spacing: 17.5px;
  color: #008dc8;
  opacity: 1;
}

.sport-font1 {
  font: $sport-font1;
  letter-spacing: 0px;
  color: $blue;
  opacity: 1;
}
.sport-font2 {
  font: $sport-font2;
  letter-spacing: 0px;
  color: $blue;
  opacity: 1;
}
.sport-font3 {
  font: $sport-font3;
  letter-spacing: 0px;
  color: $white;
  opacity: 1;
}
.sport-font4 {
  font: $sport-font4;
  letter-spacing: 0px;
  color: $white;
  opacity: 1;
}
