@import "fonts";
@import "buttons";

.selection-container{
    width: 66%;
    min-height: 35em;
    max-height: 99%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(white, 0.85);
    box-shadow: 10px 10px 20px #00000066;
    border: 1px solid #707070;
    border-radius: 20px;
    .rectangle-container{
        position: relative;
        .rectangle {
            position: absolute;
            width: 254px;
            height: 15px;
            background-color: $green;
            left: 50%;
            margin-left: -127px;
        }
    }
}

.Toastify__toast-body{
    font-family: Poppins;
}

@media (min-width: 1050px){
    html{
        font-size: 13px;
    }
}

@media (min-width: 1300px){
    html{
        font-size: 15px;
    }
}

@media (min-width: 1580px){
    html{
        font-size: 20px;
    }
}

@media (min-width: 1900px){
    html{
        font-size: 24px;
    }
}
