.home-main{
    .home-main__wrapper{
        max-width: 1280px;
        margin: 0 auto;
        
        .heading-container{
            padding: 0 2em ;
            display: grid;
            grid-template-columns: repeat(12,1fr);
            align-items: center;
            .back-link{
                grid-column: 1;
                justify-self: start;
                text-decoration: none;
            }
            .title{
                grid-column: 2/12;
                padding: 1em 0;
            }
        }
        .link{
            text-decoration: none;
            width: 100%;
            display: flex;
            justify-content: center;
            
        }
        .buttons-container{
            display: flex;
            flex-direction: column;
            //grid-template-columns: repeat(2,1fr);
            align-items: center;
            justify-items: center;
            gap: 2em;
            //column-gap: 4.5em;
            padding: 2em 5em 5em;
        }
        
    }
}