$green: #00B745;
$blue: #008DC8;
$white: #FFFFFF;


.sports-main{
    .sports-main__wrapper{
        max-width: 1280px;
        margin: 0 auto;
        position: relative;
        .heading-container{
            padding: 0 2em ;
            display: grid;
            grid-template-columns: repeat(12,1fr);
            align-items: center;
            .back-link{
                grid-column: 1;
                justify-self: start;
                text-decoration: none;
            }
            .title{
                grid-column: 2/12;
                padding: 1em 0;
            }
        }
        .sports-container{
            max-width: 47em;
            margin: 0 auto;
            padding: 2em 0 3em;
            display: flex;
            flex-direction: column;
            .sports-wrapper{
                display: flex;
                flex-wrap: wrap;
                gap: 2.3em;
                justify-content: space-between;
            }            
        }
        
        .continue-button{
            position: absolute;
            right: 2rem;
            bottom: 3rem;
        }
        
    }
}
