$green: #00B745;
$blue: #008DC8;
$white: #FFFFFF;
$middle-gray: #505050;


.schedule-main{
    .schedule-main__wrapper{
        max-width: 1280px;
        margin: 0 auto;
        position: relative;
        .heading-container{
            padding: 0 2em ;
            display: grid;
            grid-template-columns: repeat(12,1fr);
            align-items: center;
            .back-link{
                grid-column: 1;
                grid-row: 1;
                justify-self: start;
                text-decoration: none;
            }
            .title{
                grid-column: 4/10;
                grid-row: 1;
                padding: 1em 0 .4em;
            }
            .sport-selected{
                grid-column: 10/13;
                grid-row: 1;
                justify-self: end;
            }
        }
        
        .schedule-container{
            padding: 0 2em 4em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 50em;
            margin: 0 auto;
        }
        
        .continue-button{
            position: absolute;
            right: 2rem;
            bottom: 3rem;
        }
        
    }
}