$white: #FFFFFF;
$green: #00B745;

.towers-main{
    .towers-main__wrapper{
        max-width: 1280px;
        margin: 0 auto;

        .title{
            padding: 1em 0;
        }
        
        .buttons-container{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            align-items: center;
            justify-items: center;
            gap: 3.8em;
            
            padding: 2.5em 5em 5em;
            .column1{
                justify-self: end;
            }
            .column2{
                justify-self: start;
            }
        }
        
    }
}

